<div ng-controller="ConfigController">
	<h1> Konfiguracja </h1>
	
	<br><br>
	
	<p id="id1" ng-model="theme_option" ng-style="confstyle">Zmiana motywu:</p>

	<br>
	
	<div class="form-group">
	<input ng-model="skinVariant" class="form-control"/>
	<select ng-options="obj.value as obj.text for obj in skins" ng-model="skinVariant"></select>
	</div>
	
	<br><br>
	
	<p id="id2" ng-model="refresh_option">Czas odświerzania (ms):</p>
	
	<br>
	
	<div class="form-group">
	<input ng-model="interval" class="form-control"/>
	</div>
	
	<br>
	
	<input ng-click="save_options()" class="btn btn-default" type="submit" value="Zapisz wszystko">
</div>