<div>
	<div class="InjectDiv" ng-contorller="InboxController">
		<ul id="list" class="emailList"></ul>
		
		<!-- <div ng-repeat="mail in emails | orderBy:'received':true | limitTo:5">
			<div class="emailList"  ng-class="{'read' : mail.read}">
				<a ui-sref="view({emailId:mail.id})">
					<h3>Od: {{mail.sender}}</h3>
					<p><strong>Tytuł:</strong> {{mail.title}}</p>
					<p class="content">{{mail.content | limitTo:60 }}</p>
				</a>
				<button ng-click="deleteEmail(mail.id)">  USUŃ  </button>
			</div>
		</div> -->
	</div>
</div>

